/* Stylesheet#2 for Wired Website */

body {
  margin: 0 auto;
  padding: 0%;
  max-width: 1495px;
  color: #222324;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1.2em;
}
/*
h1, h2, h3, h4 {
    font-weight: 400;
}
*/
h1 {
  margin:0;
}

main {
    padding: 65px 9%;
}

a {
    text-decoration: none;
}

/* unvisited link */
 a:link {
    color: #222324;
}
/* visited link */
a:visited {
    color: *#222324;
}
/* mouse over link */
a:hover {
    color: *#222324;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: #222324;
}
